main {
    display: flex;
    flex-direction: column;
    background-color: darkorchid;
    height:450px;
    text-align: center;
}

header {
    background-color: green;
    padding: 1px 15px;
    text-align: center;
    height: 250px; ;
}

footer {
    background-color: blue;
    padding: .5px 15px;
    height:250px;
    text-align: center;
}
